.info-wrapper {
  width: 100%;
  padding: 60px 8%;
  background: #ffffff;
  color: #000;
  animation: fadeIn 1.4s ease;
}

/* DESCRIPTION AREA */
.info-container {
  max-width: 900px;
  margin-bottom: 80px;
}

.info-title {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000;
}

.info-para {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #333;
  transition: color 0.3s ease;
}

/* Hover text */
.info-para:hover {
  color: #8B5E3C;
}


/* CTA BOX */
.cta-box {
  text-align: center;
  background: #f5f5f5;
  padding: 40px 30px;
  border-radius: 18px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.cta-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}

.cta-heading {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 12px;
}

.cta-desc {
  font-size: 15px;
  max-width: 580px;
  margin: auto;
  margin-bottom: 25px;
  color: #444;
}

.cta-icon-box {
  width: 50px;
  height: 50px;
  background: #429d51;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  border-radius: 50%;
  transition: background 0.3s ease, transform 0.3s ease;

}

/* Icon hover shake */
.cta-icon-box:hover {
      background: #1b4c18;
  transform: rotate(10deg);
}

.cta-btn {
  background: #6a974d;
  color: #fff;
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Button hover */
.cta-btn:hover {
  background: #1b4c18;
  transform: scale(1.05);
  color: #fff8f8;
}



/* ANIMATION */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(25px); }
  100% { opacity: 1; transform: translateY(0); }
}



/* ===================== MOBILE RESPONSIVE ===================== */
@media (max-width: 768px) {
  
  .info-title {
    font-size: 28px;
  }

  .cta-box {
    padding: 30px 20px;
  }

  .cta-heading {
    font-size: 22px;
  }

  .cta-btn {
    width: 100%;
  }
}
html {
  scroll-behavior: smooth;
}